/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  border: 3px solid;
  border-radius: 50%;
  display: grid;
  background:
    radial-gradient(circle 3px, currentColor 95%, #0000),
    linear-gradient(currentColor 50%, #0000 0) 50%/2px 60% no-repeat;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}

.loader:before {
  background: repeating-conic-gradient(from -2deg, #000 0 4deg, #0000 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
}

.loader:after {
  background: linear-gradient(currentColor 50%, #0000 0) 50%/2px 80% no-repeat;
  animation: l7 1s infinite;
}

@keyframes l7 {

  0%,
  100% {
    transform: rotate(30deg)
  }

  90% {
    transform: rotate(42deg)
  }

  95% {
    transform: rotate(15deg)
  }
}